{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Shunt Configuration</title>
{% endblock %}

{% block nav-shunt %}
<li class="nav-item active p-2">
	<a class="nav-link" href="{% url 'shunt:index'%}">Shunt</a>
</li>
{% endblock %}

{% block app_nav_brand %}
<a class="navbar-brand" href="#"><h5>Shunt Monitoring</h5></a>
{% endblock %}

{% block app_shunt_submenu_show %}
show
{% endblock %}

{% block app_nav_item1 %}
{% endblock %}
{% block app_nav_item2 %}
active
{% endblock %}
{% block app_nav_item3 %}
{% endblock %}

{% block body %}
<div class="container-flex">
	<div class="row justify-content-right">
		<div class="col-sm-3">

			<hr class="mt-0 mb-4">
			<h4>Configuration</h4>
			<ul class="nav flex-column">
				{% for processor, dispname in nav.items|dictsort:0 %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'shunt:config' processor %}">{{ dispname }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="col-sm-6">
			<h1>Shunt Configuration</h1>
			<hr class="mt-0 mb-4">
			{% if status > 0 %}
			<div class="alert alert-danger" role="alert">
				The Shunt monitoring application will be restarted when these
				properties are edited.
			</div>
			{% else %}
			<div class="alert alert-dark" role="alert">
				NIFI NOT AVAILABLE
			</div>
			{% endif %}
			<form action="{% url 'shunt:update' %}" method="post">
				{% csrf_token %}
				<h3>{{ pdispname }}</h3>
				<div class="form-group">
					<table class="table">
						<tbody>
					{% for key, value in fields.items %}
							<tr>
								<td><label for="{{ key }}">{{value.title}}</label></td>
								<td>{{ value.description }}</td>
								<td style="min-width:400px"><input type="{% if value.type == "integer" or value.type == "number" %}number{% else %}string{% endif %}" class="form-control form-control-sm" name="{{ key }}" id="{{ key }}" value="{{ value.value }}"></td>
							</tr>
					{% endfor %}
						</tbody>
					</table>
				</div>
				<input type="hidden" id="processor" name="processor" value="{{ processor }}">
				<input type="submit" class="btn btn-primary" value="update">
			</form>
		</div>
	</div>
</div>
{% endblock %}
