{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block head %}
<title>Shunt Monitoring</title>
{% endblock %}

{% block nav-shunt %}
<li class="nav-item active p-2">
	<a class="nav-link" href="{% url 'shunt:index'%}">Shunt</a>
</li>
{% endblock %}

{% block app_nav_brand %}
<a class="navbar-brand" href="#"><h5>Shunt Monitoring</h5></a>
{% endblock %}

{% block app_shunt_submenu_show %}
show
{% endblock %}

{% block app_nav_item1 %}
active
{% endblock %}
{% block app_nav_item2 %}
{% endblock %}
{% block app_nav_item3 %}
{% endblock %}
{% block app_nav_item4 %}
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row justify-content-left">
		<h1>Shunt Monitoring Status</h1>
	</div>
	<hr class="mt-0 mb-4"></hr>
	<div class="row justify-content-center">
		<p>The NiFi Shunt instance at http://{{ hostname }}:{{port}}/nifi-api is:</p>
	</div>
	<div class="row justify-content-center">
		{% if status.stoppedcount > 0 %}
		<div class="alert alert-danger" role="alert">
			<center>STOPPED</center>
		</div>
		{% endif %}
		{% if status.runningcount > 0 %}
		<div class="alert alert-success" role="alert">
			<center>RUNNING</center>
		</div>
		{% endif %}
		{% if status.runningcount < 0 %}
		<div class="alert alert-dark" role="alert">
			<center>NIFI NOT AVAILABLE</center>
			{% endif %}
		</div>
		{% if status.disabledcount > 0 %}
		<div class="alert alert-danger" role="alert">
			<center>Note: Some processors disabled. Check NiFi Flow.</center>
		</div>
		{% endif %}
	</div>
	<div class="row justify-content-center">
		<form action="{% url 'shunt:startstop' %}" method="post">
			{% csrf_token %}
			<div class="btn-group">
				<button class="btn btn-danger" type="submit" name="control" value="stop">Stop</button>
				<button class="btn btn-success" type="submit" name="control" value="start">Start</button>
			</div>
		</form>
	</div>
	<div class="row justify-content-left">
		<div class="card" style="width: 16rem;">
			<h5 class="card-title">NiFI Process Group Status</h5>
			<div class="card-body">
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><strong>Disabled:</strong> <span class="btn btn-danger ">{{ status.disabledcount }}</span></li>
					<li class="list-group-item"><strong>Running:</strong> <span class="btn btn-success ">{{ status.runningcount }}</span></li>
					<li class="list-group-item"><strong>Stopped:</strong> <span class="btn btn-warning ">{{ status.stoppedcount }}</span></li>
				</ul>
			</div>
		</div>
	</div>
					{% if status.bulletins %}
	<div class="row justify-content-left">
		<div class="card" >
			<div class="card-body">
				<div class="row justify-content-center">
				<div class="alert alert-danger" role="alert">
					{% for bulletin in status.bulletins %}
					<p>	{{ status.bulletins }}</p>
					{% endfor %}

				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}
