{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block head %}
<title>Track Circuit Health Monitoring</title>
<style>
 .column { display: inline-block }
 #legend { background: white }
 #legend .line { color: #333 }
</style>
<link rel="stylesheet" type="text/css" href="{% static "rickshaw/rickshaw.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "rickshaw/lines.css" %}">
<link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">
{% endblock %}
{% block script %}
<script type="text/javascript" src="{% static "d3/d3.v3.js" %}"></script>
<script type="text/javascript" src="{% static "rickshaw/rickshaw.min.js" %}"></script>
{{ form.media }}

<style type="text/css">
 .rotatea {
  transform: rotate(-90deg);
 }
 .rotateb {
  transform: rotate(90deg);
 }
 #y-axis0 {
     position: absolute;
     left: 40px;
     height: 800px;
     width: 40px;
 }
 #y-title0 {
     position: absolute;
     left: -30px;
     top: 200px;
     width: 150px;
 }
 #y-axis1 {
     position: absolute;
     left: 975px;
     height: 800px;
     width: 60px;
 }
 #y-title1 {
     position: absolute;
     left: 940px;
     top: 210px;
     width: 150px;
 }
 #chart {
     left: 75px;
     width: 1000px;
     position: absolute;
 }
 #x-title {
     left: 525px;
     top: 500px;
     position: absolute;
 }
 #slider {
     left: 65px;
     top: 530px;
     width: 1000px;
     position: absolute;
 }
 #legend {
     left: -10px;
     position: absolute;
 }
</style>
{% endblock %}

{% block nav-tcm %}
<li class="nav-item active p-2">
    <a class="nav-link" href="{% url 'tcm:index'%}">Track Circuit Margins</a>
</li>
{% endblock %}

{% block app_nav_brand %}
<a class="navbar-brand" href="#"><h5>Track Circuit Health</h5></a>
{% endblock %}

{% block app_tcm_submenu_show %}
show
{% endblock %}

{% block tcm_nav_item1 %}
{% endblock %}
{% block tcm_nav_item2 %}
{% endblock %}
{% block tcm_nav_item3 %}
active
{% endblock %}
{% block tcm_nav_item4 %}
{% endblock %}

{% block body %}
<div class="container-flex">
    <div class="row justify-content-right">
        <div class="col-sm-2 d-print-none flex-expand-1">
            <form method="get" action="{% url 'tcm:plot' %}">
                <h6>Slot - Track</h6>
                <hr class="mt-0 mb-1">
                {% for track_id in track_ids %}
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="track" value="{{ track_id }}"
                        {% if track == track_id %}checked{% endif %}>Track {{ track_id }}
                    </label>
                </div>
                {% endfor %}
                <div class="mt-4">
                <h6>Time</h6>
                </div>
                <hr class="mt-0 mb-1">
                {{ form }}
                <div class="mt-1">
                <input type="submit" value="Update">
                </div>
            </form>
                <div class="mt-4">
        {% if data.meanCurrent %}
            <h6>Legend</h6>
                </div>
            <hr class="mt-0 mb-1">
            <div>
                <div id="legend"></div>
            </div>
        </div>
        <div class="col-sm-2 d-print-none flex-expand-1">
            <div class="col-sm-3">
                <div class="column">
                    <div id="y-axis0"></div>
                    <div id="y-title0" class="rotatea">Current (Amps)</div>
                    <div id="chart"></div>
                    <div id="y-axis1"></div>
                    <div id="y-title1" class="rotateb">Margin (Percentage)</div>
                    <div id="x-title">Time</div>
                    <div id="slider"></div>
                </div>
            </div>
        </div>
        {% else %}
        <h6>Please select a track and time window </h6>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block bodyscript %}
<script>
 $('#id_Begin').datetimepicker('date', "{{ initial_date.start_time }}");
 $('#id_End').datetimepicker('date', "{{ initial_date.end_time }}");

 scale_left =  d3.scale.linear().domain([0, 3]).nice();
 scale_right =  d3.scale.linear().domain([0, 100]).nice();

 data = [
     {{data.meanCurrent|safe}},
     {{data.operating_margin_max|safe}},
     {{data.operating_margin_min|safe}},
     {{data.blowby_threshold|safe}},
     {{data.dropout_threshold|safe}},
     {{data.reliability_margin|safe}},
     {{data.safety_margin|safe}},
 ];


        {% if data.meanCurrent %}
 series_list = [
     {
         name: 'Mean Current (Amps)',
         data: data[0],
         color: 'rgba(25, 170, 10, 0.4)',
         renderer: 'line',
         scale: scale_left,
         strokeWidth: 3
     },
     {
         name: 'Operating Margin - Max (Amps)',
         data: data[1],
         color: 'rgba(115, 205, 170, 0.4)',
         renderer: 'line',
         scale: scale_left,
         strokeWidth: 3
     },
     {
         name: 'Operating Margin - Min (Amps)',
         data: data[2],
         color: 'rgba(115, 205, 170, 0.3)',
         renderer: 'line',
         scale: scale_left,
         strokeWidth: 3
     },
     {
         name: 'Blowby Threshold (Amps)',
         data: data[3],
         color: 'rgba(225, 90, 80, 0.3)',
         renderer: 'line',
         scale: scale_left,
         strokeWidth: 3
     },
     {
         name: 'Dropout Threshold (Amps)',
         data: data[4],
         color: 'rgba(225, 90, 80, 0.3)',
         renderer: 'line',
         scale: scale_left,
         strokeWidth: 3
     },
     {
         name: 'Reliability Margin (Percent)',
         data: data[5],
         color: 'rgba(225, 90, 80, 0.3)',
         renderer: 'line',
         scale: scale_right,
         strokeWidth: 3
     },
     {
         name: 'Safety Margin (Percent)',
         data: data[6],
         color: 'rgba(225, 90, 80, 0.3)',
         renderer: 'line',
         scale: scale_right,
         strokeWidth: 3
     },

 ];

 var graph = new Rickshaw.Graph(
     {
         element: document.getElementById("chart"),
         renderer: 'multi',
         width: 900,
         height: 500,
         dotSize: 5,
         series: series_list,
     }
 );

 var xAxis = new Rickshaw.Graph.Axis.Time({
     graph: graph,
     ticksTreatment: 'glow',
     tickFormat: function(x){
         return new Date(x).toLocaleString();
     }
 });

 var yAxisl = new Rickshaw.Graph.Axis.Y.Scaled({
     element: document.getElementById('y-axis0'),
     graph: graph,
     orientation: 'left',
     scale: scale_left,
     tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
 });

 var yAxisr = new Rickshaw.Graph.Axis.Y.Scaled({
     element: document.getElementById('y-axis1'),
     graph: graph,
     orientation: 'right',
     scale: scale_right,
     tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
 });

 var slider = new Rickshaw.Graph.RangeSlider.Preview({
     graph: graph,
     element: document.getElementById('slider')
 });

 graph.render();

 var detail = new Rickshaw.Graph.HoverDetail({
     graph: graph
 });

 var legend = new Rickshaw.Graph.Legend({
     graph: graph,
     element: document.querySelector('#legend')
 });

 var highlighter = new Rickshaw.Graph.Behavior.Series.Highlight({
     graph: graph,
     legend: legend,
     disabledColor: function() { return 'rgba(0, 0, 0, 0.2)' }
 });

 var highlighter = new Rickshaw.Graph.Behavior.Series.Toggle({
     graph: graph,
     legend: legend
 });


        {% endif %}
</script>
{% endblock %}
