{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>{{ shuntcsv.basename }}</title>
{% endblock %}

{% block nav-shunt %}
<li class="nav-item active p-2">
    <a class="nav-link" href="{% url 'shunt:index'%}">Shunt</a>
</li>
{% endblock %}

{% block app_nav_brand %}
<a class="navbar-brand" href="#"><h5>Shunt Monitoring</h5></a>
{% endblock %}

{% block app_shunt_submenu_show %}
show
{% endblock %}
{% block app_nav_item1 %}
{% endblock %}
{% block app_nav_item2 %}
{% endblock %}
{% block app_nav_item3 %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <h2>Train Move Summary</h2>
    </div>
    <div class="row justify-content-center">
    <a href="{% url 'csvbrowse:download' id %}">Download CSV</a>
    </div>
    <div class="row justify-content-center">
        <img src="{{ pngname }}" class="img-fluid" alt="Responsive image">
    </div>
    <div class="row justify-content-center">
        <table class="table-striped">
            <thead>
                <th scope"col">Property</th>
                <th scope"col">Value</th>
            </thead>
            <tbody>
                <tr><td>Filename</td><td>{{ basename }}</td></trtr>
                    <tr><td>Number of Datapoints</td><td>{{ length_lines }}</td></tr>
                    <tr><td>Platform ID</td><td>{{ platform_id }}</td></tr>
                    <tr><td>Slot ID</td><td>{{ slot_id }}</td></tr>
                    <tr><td>Track ID</td><td>{{ track_id }}</td></tr>
                    <tr><td>Events</td><td>{{ los_events }}</td></tr>
                    <tr><td>Train Duration</td><td>{{ train_time }}</td></tr>
            </tbody>
        </table>
    </div>
</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock %}
