{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>{{ shuntcsv.basename }}</title>
{% endblock %}

{% block nav-shunt %}
<li class="nav-item active p-2">
	<a class="nav-link" href="{% url 'shunt:index'%}">Shunt</a>
</li>
{% endblock %}

{% block app_nav_brand %}
<a class="navbar-brand" href="#"><img src="{% static 'Picto_Alstom_Mainline_RGB_Carbonblue.png' %}" height=32></a>
<a class="navbar-brand" href="#"><h5>Shunt Monitoring</h5></a>
{% endblock %}

{% block app_nav_item1 %}
<li class="nav-item p-2">
	<a class="nav-link" href="{% url 'shunt:index' %}">Status</a>
</li>
{% endblock %}
{% block app_nav_item2 %}
<li class="nav-item p-2">
	<a class="nav-link" href="{% url 'shunt:config' %}">Configure</a>
</li>
{% endblock %}
{% block app_nav_item3 %}
<li class="nav-item active p-2">
	<a class="nav-link" href="{% url 'csvbrowse:index' %}">Files</a>
</li>
{% endblock %}

{% block body %}
<h2>Train Move Summary</h2>
<h4>{{ shuntcsv.basename }}</h4>
<table class="table-striped">
  <thead>
    <th scope"col">Property</th>
    <th scope"col">Value</th>
  </thead>
  <tbody>
    <tr><td>Number of Datapoints</td><td>{{shuntcsv.length_lines}}</td></tr>
    <tr><td>Elapsed Time (s)</td><td>{{shuntcsv.train_length_seconds}}</td></tr>
    <tr><td>Platform ID</td><td>{{shuntcsv.platform_id}}</td></tr>
  </tbody>
</table>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock %}
