{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Train Moves</title>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static "datatables/datatables.min.js" %}"></script>
<script type="text/javascript" src="{% static "datatables/DataTables-1.10.21/js/dataTables.jqueryui.min.js" %}"></script>
<script type="text/javascript" src="{% static "datatables/DataTables-1.10.21/js/dataTables.bootstrap4.min.js" %}"></script>
<script type="text/javascript" src="{% static "datatables/Buttons-1.6.2/js/dataTables.buttons.min.js" %}"></script>
<script type="text/javascript" src="{% static "datatables/Buttons-1.6.2/js/buttons.html5.min.js" %}"></script>
<script type="text/javascript" src="{% static "datatables/Buttons-1.6.2/js/buttons.bootstrap4.min.js" %}"></script>
{{ form.media }}
<script type="text/javascript" class="init">

 function filterGlobal () {
     $('#example').DataTable().search(
         $('#global_filter').val(),
         $('#global_regex').prop('checked'),
         $('#global_smart').prop('checked')
     ).draw();
 }

 function filterColumn ( i ) {
     $('#example').DataTable().column( i ).search(
         $('#col'+i+'_filter').val(),
         $('#col'+i+'_regex').prop('checked'),
         $('#col'+i+'_smart').prop('checked')
     ).draw();
 }
 $(document).ready(function() {
     $('#example').DataTable( {
         buttons: [
             'csv'
         ],
         select: true,
         "dom": 'tBilpr',
     } );

     $('input.global_filter').on( 'keyup click', function () {
         filterGlobal();
     } );

     $('input.column_filter').on( 'keyup click', function () {
         filterColumn( $(this).parents('tr').attr('data-column') );
     } );

 } );

</script>
<style type="text/css">
</style>
{% endblock %}

{% block nav-shunt %}
<li class="nav-item active p-2">
    <a class="nav-link" href="{% url 'shunt:index'%}">Shunt</a>
</li>
{% endblock %}

{% block app_nav_brand %}
<a class="navbar-brand" href="#"><h5>Shunt Monitoring</h5></a>
{% endblock %}

{% block app_shunt_submenu_show %}
show
{% endblock %}

{% block app_nav_item1 %}
{% endblock %}
{% block app_nav_item2 %}
{% endblock %}
{% block app_nav_item3 %}
active
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-left">
        <div class="col">
            <h1>Train Moves</h1>
            <hr class="mt-0 mb-4">
            <div class="table-responsive">
                <form action="{% url 'csvbrowse:chkhandle' %}" method="post">
                    {% csrf_token %}
                    <table id="example" class="table-striped table-bordered">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th style="text-align:center" scope="col">Download</th>
                                <th style="text-align:center" scope="col">Timestamp</th>
                                <th style="text-align:center" scope="col">Filename</th>
                                <th style="text-align:center" scope="col">Number of Data Points</th>
                                <th style="text-align:center" scope="col">Platform ID</th>
                                <th style="text-align:center" scope="col">Slot</th>
                                <th style="text-align:center" scope="col">Track ID</th>
                                <th style="text-align:center" scope="col">Events</th>
                                <th style="text-align:center" scope="col">Train Duration</th>
                                <th style="text-align:center" scope="col">DELETE</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for file in csv_files %}
                            <tr>
                                <th scope="col"><input type="checkbox" id="selected" name="pk" value="{{file.id}}"></th>
                                <td style="text-align:center"><a href="{% url 'csvbrowse:download' file.id %}">DL</a></td>
                                <td style="text-align:left"><a href="{% url 'csvbrowse:detail' file.id %}">{{file.train_timestamp}}</a></td>
                                <td style="text-align:center">{{file.basename}}</td>
                                <td style="text-align:center">{{file.length_lines}}</td>
                                <td style="text-align:center">{{file.platform_id}}</td>
                                <td style="text-align:center">{{file.slot_id}}</td>
                                <td style="text-align:center">{{file.track_id}}</td>
                                <td style="text-align:center">{{file.los_events}}</td>
                                <td style="text-align:center">{{file.train_length_timedelt}}</td>
                                <td style="text-align:center"><a href="{% url 'csvbrowse:delete' file.id %}">DELETE</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
            <div class="btn-group">
                <button class="btn btn-success" type="submit" name="button" value="download">Download Selected</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-success" type="submit" name="button" value="download_all">Download ALL</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-danger float-right ml-5" type="submit" name="button" value="delete">Delete Selected</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-danger" type="submit" name="button" value="delete_all">Delete ALL</button>
            </div>
                </form>
        </div>
    </div>
</div>
{% endblock %}
