{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block head %}
<title>About</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-left">
        <a class="navbar-brand" href="#"><img src="{% static 'Picto_Alstom_Cloud_RGB_Carbonblue.png' %}" height=32></a>
        <h1>About WSDMM</h1>
    </div>
    <div class="row justify-content-left">
        <div class="col-sm-6">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Version</th>
                        <td>WSDMM Prototype GUI v2.0</td>
                    </tr>
                    <tr>
                        <th scope="row">Hostname</th>
                        <td>localhost</td>
                    </tr>
                    <tr>
                        <th scope="row">OS</th>
                        <td>CentOS 7</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
