{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block head %}
<title>WSDMM Main Configuration</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row justify-content-left">
		<a class="navbar-brand" href="#"><img src="{% static 'Picto_Alstom_Cloud_RGB_Carbonblue.png' %}" height=32></a>
		<h1>WSDMM Main Configuration</h1>
	</div>
</div>

{% load crispy_forms_tags %}

		<div class="col-sm-6">
<form  method="post">
{% csrf_token %}
{{ form|crispy }}
<button  type="submit"  class="btn btn-success">Apply</button>
</form>
		</div>
{% endblock %}
