{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block head %}
<title>WSDMM Configuration Error</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-left">
        <a class="navbar-brand" href="#"><img src="{% static 'Picto_Alstom_Cloud_RGB_Carbonblue.png' %}" height=32></a>
        <h1>WSDMM Configuration Error</h1>
    </div>
    <div class="row justify-content-center">
        <div class="alert alert-danger" role="alert">
            <center>wsdmm.conf is missing - Unable to configure</center>
        </div>
    </div>
</div>
{% endblock %}
