{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block head %}
<title>WSDMM</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row justify-content-left">
		<a class="navbar-brand" href="#"><img src="{% static 'Picto_Alstom_Cloud_RGB_Carbonblue.png' %}" height=32></a>
		<h1>WSDMM</h1>
	</div>
	<div class="col-sm-6">
	<div class="row justify-content-center">
		<h1>Site Information</h1>
	</div>
		<div class="row justify-content-center">
			<table class="table">
				<tbody>
					<tr>
						<td>Railroad</td>
						<td>{{ object.Railroad }}</td>
					</tr>
					<tr>
						<td>Division</td>
						<td>{{ object.Division }}</td>
					</tr>
					<tr>
						<td>SubDivision</td>
						<td> {{ object.SubDivision }}</td>
					</tr>
					<tr>
						<td>Line Segment</td>
						<td>{{ object.LineSegment }}</td>
					</tr>
					<tr>
						<td>Milepost</td>
						<td> {{ object.Milepost }}</td>
					</tr>
					<tr>
						<td>DOT #</td>
						<td> {{ object.DOTNum }}</td>
					</tr>
					<tr>
						<td>Street</td>
						<td> {{ object.StreetName }}</td>
					</tr>
					<tr>
						<td>City</td>
						<td> {{ object.City }}</td>
					</tr>
					<tr>
						<td>State</td>
						<td> {{ object.State }}</td>
					</tr>
					<tr>
						<td>Country</td>
						<td>{{ object.Country }}</td>
					</tr>
					<tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
