{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block head %}
<title>WSDMM Status</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row justify-content-left">
		<a class="navbar-brand" href="#"><img src="{% static 'Picto_Alstom_Cloud_RGB_Carbonblue.png' %}" height=32></a>
		<h1>WSDMM Status</h1>
	</div>
    <div class="row justify-content-left">
        <div class="col-sm-6">
		<table class="table">
			<tbody>
				<tr>
					<th scope="row">CPU Usage</th>
					<td>{{ cpu }}%</td>
				</tr>
				<tr>
					<th scope="row">Memory Usage</th>
					<td>{{ mem }}%</td>
				</tr>
				<tr>
					<th scope="row">Disk Usage</th>
					<td>{{ disk }}%</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
</div>
{% endblock %}
