{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>VTI Configuration</title>
{% endblock %}

{% block nav-shunt %}
<li class="nav-item p-2">
    <a class="nav-link" href="{% url 'shunt:index'%}">VTI</a>
</li>
{% endblock %}

{% block app_nav_brand %}
<a class="navbar-brand" href="#"><h5>VTI Monitoring</h5></a>
{% endblock %}

{% block body %}
<div class="container-flex">
        <div class="col-sm-12">
            <h1>VTI Configuration</h1>
            <hr class="mt-0 mb-4">
            {% if status > 0 %}
            <div class="alert alert-danger" role="alert">
                All Shunt and Track circuit health applications will be restarted upon editing these parameters.
            </div>
            {% else %}
            <div class="alert alert-dark" role="alert">
                NIFI NOT AVAILABLE
            </div>
            {% endif %}
            <form action="{% url 'main:update_vti' %}" method="post">
                {% csrf_token %}
                <h3>{{ pdispname }}</h3>
                <div class="form-group">
                    <table class="table">
                        <tbody>
                            {% for key, value in fields.items %}
                            <tr>
                                <td><label for="{{ key }}">{{value.title}}</label></td>
                                <td>{{ value.description }}</td>
                                <td style="min-width:400px"><input type="{% if value.type == "integer" or value.type == "number" %}number{% else %}string{% endif %}" class="form-control form-control-sm" name="{{ key }}" id="{{ key }}" value="{{ value.value }}"></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <input type="hidden" id="processor" name="processor" value="{{ processor }}">
                <input type="submit" class="btn btn-primary" value="update">
            </form>
        </div>
    </div>
</div>
{% endblock %}
