{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>LogCap - Add New Device</title>
{% endblock %}

{% block nav-logcap %}
<li class="nav-item active p-2">
	<a class="nav-link" href="{% url 'logcap:index'%}">LogCap</a>
</li>
{% endblock %}

{% block app_nav_brand %}
<a class="navbar-brand" href="#"><h5>Logmon Monitoring</h5></a>
{% endblock %}

{% block app_logcap_submenu_show %}
show
{% endblock %}

{% block app_nav_item1 %}
{% endblock %}
{% block app_nav_item2 %}
active
{% endblock %}
{% block app_nav_item3 %}
{% endblock %}

{% block body %}
<div class="container-flex">
		<div class="col-sm-6">
			<h1>Add New {{device_type}}</h1>
			<hr class="mt-0 mb-4">
			<form action="{% url 'logcap:adddevice' %}" method="post">
				{% csrf_token %}
				<h3>{{ device_name }} Settings</h3>
				<div class="form-group">
					<table class="table">
						<tbody>
							<tr>
								<td><label for="device_name">Device Name</label></td>
								<td><input type="text" class="form-control form-control-sm" name="device_name" id="device_name" value=""></td>
							</tr>
							{% for key, value in form_elements.items %}
							{% if key in string_list %}
							<tr>
								<td><label for="{{ key }}">{{ key }}</label></td>
								<td style="min-width:400px"><input type="text" class="form-control form-control-sm" name="{{ key }}" id="{{ key }}" value="{{value}}"></td>
							</tr>
							{% elif key in num_list %}
							<tr>
								<td><label for="{{ key }}">{{ key }}</label></td>
								<td style="min-width:400px"><input type="text" class="form-control form-control-sm" name="{{ key }}" id="{{ key }}" value="{{value}}"></td>
							</tr>
							{% elif key in list_list %}
							<tr>
								<td><label for="{{ key }}">{{ key }}</label></td>
								<td style="min-width:400px"><input type="text" class="form-control form-control-sm" name="{{ key }}" id="{{ key }}" value="{% for item in value %}{{ item }},{% endfor %}"></td>
							</tr>
							{% endif %}
							{% endfor %}
						</tbody>
					</table>
					{% for key, value in form_elements.items %}
					{% if key in dict_list %}
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">{{ key }}</h5>
							{% for inkey, invalue in value.items %}
							<label for="{{ inkey }}">{{ inkey }}</label>
							<input type="text" class="form-control form-control-sm" name="{{key}}.{{ inkey }}" id="{{key}}.{{ inkey }}" value="{{ invalue }}">
							{% endfor %}
						</div>
					</div>
					{% endif %}
					{% endfor %}

				</div>
				<input type="hidden" id="device_type" name="device_type" value="{{ device_type }}">
				<input type="submit" class="btn btn-primary" value="add">
			</form>
		</div>
	</div>
</div>
{% endblock %}
