{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>LogCap Configuration</title>
{% endblock %}

{% block nav-logcap %}
<li class="nav-item active p-2">
	<a class="nav-link" href="{% url 'logcap:index'%}">LogCap</a>
</li>
{% endblock %}

{% block app_nav_brand %}
<a class="navbar-brand" href="#"><h5>Logmon Monitoring</h5></a>
{% endblock %}

{% block app_logcap_submenu_show %}
show
{% endblock %}

{% block logcap_nav_item1 %}
{% endblock %}
{% block logcap_nav_item2 %}
active
{% endblock %}
{% block logcap_nav_item3 %}
{% endblock %}
{% block logcap_nav_item4 %}
{% endblock %}

{% block body %}
<div class="container-flex">
	<div class="row justify-content-right">
		<div class="col-sm-3">
			<hr class="mt-0 mb-4">
			<h4>Devices</h4>
			<ul class="nav flex-column">
				{% for device_type, device_name in device_list %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'logcap:config' device_type device_name %}">{{ device_name }}</a>
				</li>
				{% endfor %}
			</ul>

			<div class="row justify-content-right">
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add New Device
						<span class="caret"></span></button>
					<ul class="dropdown-menu">
						{% for device_type in supported_device_types %}
						<li><a href="{% url 'logcap:adddeviceform' device_type %}">{{ device_type }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="dropdown">
					<button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">Delete Device
						<span class="caret"></span></button>

					<ul class="dropdown-menu">
						{% for device_type, device_name in device_list %}
						<li><a href="{% url 'logcap:deldevice' device_type device_name %}">{{device_type}} - {{ device_name }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<h1>Logmon Configuration</h1>
			<hr class="mt-0 mb-4">
			{% if status > 0 %}
			{% else %}
			<div class="alert alert-dark" role="alert">
				LogCap not available.
			</div>
			{% endif %}
			<form action="{% url 'logcap:update' %}" method="post">
				{% csrf_token %}
				<h3>{{ device_name }} Settings</h3>
				<div class="form-group">
					<table class="table">
						<tbody>
							{% for key, value in form_elements.items %}
							{% if key in string_list %}
							<tr>
								<td><label for="{{ key }}">{{ key }}</label></td>
								<td style="min-width:400px"><input type="text" class="form-control form-control-sm" name="{{ key }}" id="{{ key }}" value="{{value}}"></td>
							</tr>
							{% elif key in num_list %}
							<tr>
								<td><label for="{{ key }}">{{ key }}</label></td>
								<td style="min-width:400px"><input type="text" class="form-control form-control-sm" name="{{ key }}" id="{{ key }}" value="{{value}}"></td>
							</tr>
							{% elif key in list_list %}
							<tr>
								<td><label for="{{ key }}">{{ key }}</label></td>
								<td style="min-width:400px"><input type="text" class="form-control form-control-sm" name="{{ key }}" id="{{ key }}" value="{% for item in value %}{{ item }},{% endfor %}"></td>
							</tr>
							{% endif %}
							{% endfor %}
						</tbody>
					</table>
					{% for key, value in form_elements.items %}
					{% if key in dict_list %}
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">{{ key }}</h5>
							{% for inkey, invalue in value.items %}
							<label for="{{ inkey }}">{{ inkey }}</label>
							<input type="text" class="form-control form-control-sm" name="{{key}}.{{ inkey }}" id="{{key}}.{{ inkey }}" value="{{ invalue }}">
							{% endfor %}
						</div>
					</div>
					{% endif %}
					{% endfor %}

				</div>
				<input type="hidden" id="device_name" name="device_name" value="{{ device_name }}">
				<input type="hidden" id="device_type" name="device_type" value="{{ device_type }}">
				<input type="submit" class="btn btn-primary" value="update">
			</form>
		</div>
	</div>
</div>
{% endblock %}
