{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Device Configuration Data</title>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static "renderjson/renderjson.js" %}"></script>
<script>
 var data = {{ config|safe }};
</script>
<style>
 .renderjson a              { text-decoration: none; }
 .renderjson .disclosure    { color: crimson;
     font-size: 150%; }
 .renderjson .syntax        { color: white; }
 .renderjson .string        { color: blue; }
 .renderjson .number        { color: blue; }
 .renderjson .boolean       { color: green; }
 .renderjson .key           { color: black; }
 .renderjson .keyword       { color: black; }
 .renderjson .object.syntax { color: white; }
 .renderjson .array.syntax  { color: white; }

</style>
{% endblock %}

{% block nav-logcap %}
<li class="nav-item active p-2">
    <a class="nav-link" href="{% url 'logcap:index'%}">LogCap</a>
</li>
{% endblock %}

{% block app_nav_brand %}
<a class="navbar-brand" href="#"><h5>Logmon Monitoring</h5></a>
{% endblock %}

{% block app_logcap_submenu_show %}
show
{% endblock %}

{% block logcap_nav_item1 %}
{% endblock %}
{% block logcap_nav_item2 %}
{% endblock %}
{% block logcap_nav_item3 %}
{% endblock %}
{% block logcap_nav_item4 %}
active
{% endblock %}


{% block body %}
<div class="container-flex">
    <div class="row justify-content-right">
        <div class="col-sm-3">
            <hr class="mt-0 mb-4">
            <h4>Devices</h4>
            <ul class="nav flex-column">
                {% for device_type, device_name in device_list %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logcap:deviceconf' device_type device_name %}">{{ device_name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-sm-6">
            <h1>Device Configuration Status</h1>
            <hr class="mt-0 mb-4">
            <div id="data"></div>
        </div>
    </div>
</div>

{% endblock %}
{% block bodyscript %}
<script>
 renderjson.set_show_to_level(1);
 document.getElementById("data").appendChild(renderjson(data));


</script>
{% endblock %}
