{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block head %}
<title>LogCap</title>
{% endblock %}

{% block nav-logcap %}
<li class="nav-item active p-2">
	<a class="nav-link" href="{% url 'logcap:index'%}">LogCap</a>
</li>
{% endblock %}

{% block logcap_nav_brand %}
<a class="navbar-brand" href="#"><h5>LogCap Monitoring</h5></a>
{% endblock %}

{% block app_logcap_submenu_show %}
show
{% endblock %}

{% block logcap_nav_item1 %}
active
{% endblock %}
{% block logcap_nav_item2 %}
{% endblock %}
{% block logcap_nav_item3 %}
{% endblock %}
{% block logcap_nav_item4 %}
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row justify-content-center">
		{% if socket_status is True %}
		<div class="col-sm-4">
			<h4>Server</h4>
			<div class="card" >
				<div class="card-body">
					<div class="row justify-content-center">
						<p>{{ status_data.lumberjackInstanceName }}</p>
					</div>
					<div class="row justify-content-center">
						<p>http://{{ hostname }}:{{port}}</p>
					</div>
					{% if status_data.state == 'Running' %}
					<div class="alert alert-success" role="alert">
						<center>RUNNING</center>
					</div>
					{% elif status_data.state == 'Unconfigured' %}
					<div class="alert alert-warning" role="alert">
						<center>Unconfigured</center>
					</div>
					{% else %}
					<div class="alert alert-danger" role="alert">
						<center>NOT AVAILABLE</center>
					</div>
					{% endif %}

					{% if lm_settings.pausedState is True %}
					<div class="alert alert-warning" role="alert">
						<center>PAUSED</center>
					</div>
					{% elif lm_settings.pausedState is False %}
					<div class="alert alert-success" role="alert">
						<center>UNPAUSED</center>
					</div>
					{% else %}
					{% endif %}
					{% if status_data.state == 'Running' %}
					<form action="{% url 'logcap:startstop' %}" method="post">
						{% csrf_token %}
						<center>
							<div class="btn-group">
								<button class="btn btn-success" type="submit" name="control" value="start">Go</button>
								<button class="btn btn-danger" type="submit" name="control" value="stop">Pause</button>
							</div>
						</center>
					</form>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="col-sm-3">
			<h4>ElectrologIXS</h4>
			{% for device in status_data.eixs %}
			<div class="card" style="width: 18rem;">
				{% if device.health == 'DEGRADED' %}
				<div class="alert alert-warning" role="alert"></div>
				{% elif device.health == 'FAILED' %}
				<div class="alert alert-danger" role="alert"></div>
				{% elif device.health == 'UNKNOWN' %}
				<div class="alert alert-danger" role="alert"></div>
				{% else %}
				<div class="alert alert-success" role="alert"></div>
				{% endif %}
				<div class="card-body">
					<h5 class="card-title">{{ device.remoteSystemName }}</h5>
					<p class="card-text">Health: {{ device.health }} <br> State: {{ device.state }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="col-sm-3">
			<h4>VHLC</h4>
			{% for device in status_data.vhlc %}
			<div class="card" style="width: 18rem;">
				{% if device.health == 'DEGRADED' %}
				<div class="alert alert-warning" role="alert"></div>
				{% elif device.health == 'FAILED' %}
				<div class="alert alert-danger" role="alert"></div>
				{% else %}
				<div class="alert alert-success" role="alert"></div>
				{% endif %}
				<div class="card-body">
					<h5 class="card-title">{{ device.remoteSystemName }}</h5>
					<p class="card-text">Health: {{ device.health }} <br> State: {{ device.state }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
<hr>
	<div class="row justify-content-center">
		<div class="justify-content-center col-sm-8">
			<h5>Status Key</h5>
			<ul class="list-group">
				<li class="list-group-item">Unknown - an internal error has occurred preventing data retrieval</li>
				<li class="list-group-item">Starting - the application is starting up and has not attempted data retrieval</li>
				<li class="list-group-item">Healthy - all data for a device is the most recent polled (and at least one poll attempt has been made)</li>
				<li class="list-group-item">Degraded - part of the data for a device is stale or missing due to failed poll attempts or connection failures</li>
				<li class="list-group-item">Failed - all of the data for a device is stale or missing due to failed poll attempts or connection failures</li>
			</ul>
		</div>
	</div>
	{% else %}
	<div class="alert alert-danger" role="alert">
		<center>Invalid Host or Port</center>
	</div>
	{% endif %}
</div>
</div>
{% endblock %}
