{% extends 'base.html' %}
{% load static %}


{% load crispy_forms_tags %}

{% block head %}
<title>LogCap</title>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{% static "datatables/datatables.min.js" %}"></script>
<script type="text/javascript" src="{% static "datatables/DataTables-1.10.21/js/dataTables.jqueryui.min.js" %}"></script>
<script type="text/javascript" src="{% static "datatables/DataTables-1.10.21/js/dataTables.bootstrap4.min.js" %}"></script>
<script type="text/javascript" src="{% static "datatables/Buttons-1.6.2/js/dataTables.buttons.min.js" %}"></script>
<script type="text/javascript" src="{% static "datatables/Buttons-1.6.2/js/buttons.html5.min.js" %}"></script>
<script type="text/javascript" src="{% static "datatables/Buttons-1.6.2/js/buttons.bootstrap4.min.js" %}"></script>
<script type="text/javascript" src="{% static "gijgo/js/gijgo.min.js" %}"></script>
{{ form.media }}
<script type="text/javascript" class="init">
 var dataSet = {{ log_list|safe }};
 var log_tree = {{ log_tree|safe }};

 function post(path, method='post') {
     // copy data from the tree into hidden fields in the already existing
     // form, submit the form
     const form = document.getElementById('form_fields');
     form.method = method;
     form.action = path;

     var checkedIds = tree.getCheckedNodes();

     const hiddenField = document.createElement('input');
     hiddenField.type = 'hidden';
     hiddenField.name = 'logs';
     hiddenField.value = JSON.stringify(checkedIds);
     form.appendChild(hiddenField);
     form.submit()
 }


 function filterGlobal () {
     $('#example').DataTable().search(
         $('#global_filter').val(),
         $('#global_regex').prop('checked'),
         $('#global_smart').prop('checked')
     ).draw();
 }

 function filterColumn ( i ) {
     $('#example').DataTable().column( i ).search(
         $('#col'+i+'_filter').val(),
         $('#col'+i+'_regex').prop('checked'),
         $('#col'+i+'_smart').prop('checked')
     ).draw();
 }
 $(document).ready(function() {
     $('#example').DataTable( {
         data: dataSet,
         buttons: [
             'csv'
         ],
         select: true,
         "dom": 'tBilpr',
         columns: [
             { data: 'date', title:'Date' },
             { data: 'time', title:'Time' },
             { data: 'index', title:'Index', searchable: false },
             { data: 'deviceId', title:'Device ID' },
             { data: 'logSource', title:'Log Source' },
             { data: 'logEntry.data', title:'Log Data' },
         ]
     } );

     $('input.global_filter').on( 'keyup click', function () {
         filterGlobal();
     } );

     $('input.column_filter').on( 'keyup click', function () {
         filterColumn( $(this).parents('tr').attr('data-column') );
     } );

 } );


</script>
<style type="text/css">
</style>
{% endblock %}

{% block nav-logcap %}
<li class="nav-item active p-2">
    <a class="nav-link" href="{% url 'logcap:index'%}">LogCap</a>
</li>
{% endblock %}

{% block logcap_nav_brand %}
<a class="navbar-brand" href="#"><h5>LogCap Monitoring</h5></a>
{% endblock %}

{% block app_logcap_submenu_show %}
show
{% endblock %}

{% block logcap_nav_item1 %}
{% endblock %}
{% block logcap_nav_item2 %}
{% endblock %}
{% block logcap_nav_item3 %}
active
{% endblock %}
{% block logcap_nav_item4 %}
{% endblock %}

{% block body %}
<div class="container-flex">
    <form id="form_fields" autocomplete="off" action="{% url 'logcap:logs' %}" method='post'>
        {% csrf_token %}
        <div class="row justify-content-right">
            <div class="col-sm-3">
                <div class="mt-1">
                    <h3>Time Period</h3>
                    {{ form }}
                </div>
                <div class="mt-1">
                    <h3>Logs</h3>
                    <div id="tree"></div>
                </div>
                <div class="col-sm-2">
                </div>
                <div class="mt-1">
                    <button type="button" class="btn btn-primary" onclick="post('{% url 'logcap:logs' %}')">Get Logs</button>
                </div>
    </form>
            </div>
            <div class="col-sm-8 flex-sm-grow-1">
                <h3>Search and Filter</h3>
                <hr class="mt-0 mb-4">
                <table style="width: 100%; margin: 0 auto 0 auto;" cellspacing="0" cellpadding="2" border="0">
                    {% if status > 0 %}
                    <thead>
                        <tr>
                            <th>Target</th>
                            <th>Search text</th>
                            <th>Treat as regex</th>
                            <th>Use smart search</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="filter_global">
                            <td>Global search</td>
                            <td align="left"><input type="text" class="global_filter" id="global_filter" size=30></td>
                            <td align="center"><input type="checkbox" class="global_filter" id="global_regex"></td>
                            <td align="center"><input type="checkbox" class="global_filter" id="global_smart" checked="checked"></td>
                        </tr>
                        <tr id="filter_col1" data-column="0">
                            <td>Date</td>
                            <td align="left"><input type="text" class="column_filter" id="col0_filter" size=30></td>
                            <td align="center"><input type="checkbox" class="column_filter" id="col0_regex"></td>
                            <td align="center"><input type="checkbox" class="column_filter" id="col0_smart" checked="checked"></td>
                        </tr>
                        <tr id="filter_col2" data-column="1">
                            <td>Time</td>
                            <td align="left"><input type="text" class="column_filter" id="col1_filter" size=30></td>
                            <td align="center"><input type="checkbox" class="column_filter" id="col1_regex"></td>
                            <td align="center"><input type="checkbox" class="column_filter" id="col1_smart" checked="checked"></td>
                        </tr>
                        <tr id="filter_col3" data-column="3">
                            <td>Device ID</td>
                            <td align="left"><input type="text" class="column_filter" id="col3_filter" size=30></td>
                            <td align="center"><input type="checkbox" class="column_filter" id="col3_regex"></td>
                            <td align="center"><input type="checkbox" class="column_filter" id="col3_smart" checked="checked"></td>
                        </tr>
                        <tr id="filter_col4" data-column="4">
                            <td>Log Source</td>
                            <td align="left"><input type="text" class="column_filter" id="col4_filter" size=30></td>
                            <td align="center"><input type="checkbox" class="column_filter" id="col4_regex"></td>
                            <td align="center"><input type="checkbox" class="column_filter" id="col4_smart" checked="checked"></td>
                        </tr>
                        <tr id="filter_col5" data-column="5">
                            <td>Log Entry</td>
                            <td align="left"><input type="text" class="column_filter" id="col5_filter" size=30></td>
                            <td align="center"><input type="checkbox" class="column_filter" id="col5_regex"></td>
                            <td align="center"><input type="checkbox" class="column_filter" id="col5_smart" checked="checked"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-right">
                <div class="col-sm-2 flex-sm-grow-1">
                </div>
                <div class="col-sm-12 flex-sm-grow-1">
                    <div class="mt-4">
                        <table id="example" class="display" width="100%"></table>
                    </div>
                    {% elif status == -1 %}
                    <div class="mt-1">
                        Unknown device.
                    </div>
                    {% elif status == -2 %}
                    <div class="mt-1">
                        Too many logs, try a shorter period.
                    </div>
                    {% elif status == 0 %}
                    <div class="mt-1">
                        No Records Found
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
</div>
{% endblock %}
{% block bodyscript %}
<script>
 var tree = $('#tree').tree({
     dataSource: log_tree,
     checkboxes: true,
     cascadeCheck: true,
     hasChildrenField: 'haschildren',
     childrenField: 'logtypes',
     iconsLibrary: 'fontawesome',
     uiLibrary: 'bootstrap',
     border: false,
     primaryKey: 'id',
 });

 tree.collapseAll();

 {% if request_list %}
 var request_list = {{ request_list }};
 for(i = 0; i < request_list.length; i++){
     tree.check(tree.getNodeById(request_list[i]))
 }
 {% endif %}

 $('#id_Begin').datetimepicker('date', "{{ initial_date.start_time }}");
 $('#id_End').datetimepicker('date', "{{ initial_date.end_time }}");

</script>
{% endblock %}
