{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Latest Raw Logs</title>
{% endblock %}

{% block script %}
{% endblock %}

{% block nav-logcap %}
<li class="nav-item active p-2">
<a class="nav-link" href="{% url 'logcap:index'%}">LogCap</a>
</li>
{% endblock %}

{% block app_nav_brand %}
<a class="navbar-brand" href="#"><h5>Logmon Monitoring</h5></a>
{% endblock %}

{% block app_logcap_submenu_show %}
show
{% endblock %}

{% block logcap_nav_item1 %}
{% endblock %}
{% block logcap_nav_item2 %}
{% endblock %}
{% block logcap_nav_item3 %}
{% endblock %}
{% block logcap_nav_item4 %}
{% endblock %}
{% block logcap_nav_item5 %}
active
{% endblock %}

{% block body %}
<div class="container-flex">
        <div class="row justify-content-right">
                <div class="col-sm-1 d-print-none flex-expand-1">
                        <h4>Devices</h4>
                        <hr class="mt-0 mb-4">
                        <nav class="navbar navbar-collapse">
                                <ul class="navbar-nav">
                                        {% for device_type, device_name in device_list %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'logcap:rawlogs' device_type device_name %}">{{ device_name }}</a></li>
                                        {% endfor %}
                                </ul>
                        </nav>
                </div>

                {% if device_name != '' %}
                <div class="col-sm-2 d-print-none flex-expand-1">
                        <h4>{{ device_name }} Latest Logs</h4>
                        <hr class="mt-0 mb-4">
                        <nav class="navbar navbar-collapse">
                                <div class="navbar-nav">
                                        <a class="nav-link" href="{% url 'logcap:dllatestraw' device_type device_name %}">Download All</a>
                                </div>
                        </nav>
                        <hr class="mt-0 mb-4">
                        <nav class="navbar navbar-collapse">
                                <div class="navbar-nav">
                                        {% for logtype, logname in log_menu.items|dictsort:0 %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'logcap:rawlogs' device_type device_name logname %}">{{ logtype }}</a></li>
                                        {% endfor %}
                                </div>
                        </nav>
                </div>
                {% endif %}
                {% if log %}
                <div class="col-sm-7 flex-sm-grow-1">
                        <div class="d-print-none">
                                <h4>{{ log_type }}</h4>
                                <hr class="mt-0 mb-4">
                                <nav class="navbar navbar-expand">
                                        <div class="navbar-nav">
                                                <a class="nav-item nav-link" href="{% url 'logcap:dlrawlog' device_type device_name filename %}">Download</a>
                                                <a class="nav-item nav-link" target="_blank" href="{% url 'logcap:rawlog' device_type device_name filename %}">View Raw</a>
                                        </div>
                                </nav>
                                <hr class="mt-0 mb-4">
                        </div>
                        <div class="d-print-none">
                                <pre>{{ log }}</pre>
                        </div>
                </div>
                {% endif %}
        </div>
</div>
<div class="d-none d-print-block">
        <pre>{{ log }}</pre>
</div>
{% endblock %}
